<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>DZBoard</display-name>
	<error-page>
		<error-code>404</error-code>
		<location>/index</location>
	</error-page>
	<servlet>
		<description>mapperServlet</description>
		<display-name>mapper</display-name>
		<servlet-name>mapper</servlet-name>
		<servlet-class>server.MapperServlet</servlet-class>
		<init-param>
			<param-name>actionNames</param-name>
			<param-value>
				/index:index.IndexAction:index
    			/admin/index:index.AdminIndex:index
    			/admin/memberListView:index.AdminIndex:memberListView
    			/admin/urlAuthority:index.AdminIndex:urlAuthority
    			/admin/memberSearch/allMember:admin.MemberSearch:searchAll
  			  	/admin/memberSearch/createdAt:admin.MemberSearch:searchByCreatedAt
		    	/admin/memberSearch/email:admin.MemberSearch:searchByEmail
		    	/admin/memberSearch/id:admin.MemberSearch:searchById
		    	/admin/memberSearch/name:admin.MemberSearch:searchByName
		    	/admin/memberSearch/phone:admin.MemberSearch:searchByPhone
		    	/admin/memberSearch/updatedAt:admin.MemberSearch:searchByUpdatedAt
 			   	/admin/memberSearch/authority:admin.MemberSearch:searchByAuthority
		    	/admin/addUrlAuthorityForm:admin.UrlAuthManage:addUrlAuthorityForm
		    	/admin/deleteMember:admin.MemberManage:deleteMember
		    	/admin/updateMemberForm:admin.MemberManage:updateMemberForm
		    	/admin/updateMember:admin.MemberManage:updateMember
				/admin/createUrlAuth:admin.UrlAuthManage:createUrlAuth
				/admin/deleteUrlAuth:admin.UrlAuthManage:deleteUrlAuth
				/admin/updateUrlAuthForm:admin.UrlAuthManage:updateUrlAuthForm
				/admin/updateUrlAuth:admin.UrlAuthManage:updateUrlAuth
				/admin/synchronizeUrlAuth:admin.UrlAuthManage:synchronizeUrlAuth
				/admin/viewUrlAuth:admin.UrlAuthManage:viewUrlAuth
				/board/download:board.DownloadFile:download
				/board:board.PostSearch:searchAll
				/board/author:board.PostSearch:searchByAuthor
				/board/category:board.PostSearch:searchByCategory
				/board/content:board.PostSearch:searchByContent
				/board/good:board.PostSearch:searchByGood
				/board/postId:board.PostSearch:searchByPostId
				/board/title:board.PostSearch:searchByTitle
				/board/create:board.PostAction:createForm
				/board/createPost:board.PostAction:createPost
				/board/deletePost:board.PostAction:deletePost
				/board/goodBad:board.PostAction:goodBad
				/board/updateForm:board.PostAction:updatePostForm
				/board/updatePost:board.PostAction:updatePost
				/board/view:board.PostAction:viewPost
				/member/login:member.MemberAction:login
    			/member/loginForm:member.MemberAction:loginForm
				/member/viewMember:member.MemberAction:viewMember
				/member/deleteMemberForm:member.MemberAction:deleteMemberForm
				/member/deleteMember:member.MemberAction:deleteMember
				/member/dupMemberCheck:member.MemberAction:dupMemberCheck
				/member/findIdForm:member.MemberAction:findIdForm
				/member/findId:member.MemberAction:findId
				/member/findPwdForm:member.MemberAction:findPwdForm
				/member/findPwd:member.MemberAction:findPwd
				/member/login:member.MemberAction:login
				/member/loginForm:member.MemberAction:loginForm
				/member/logout:member.MemberAction:logout
				/member/registerForm:member.MemberAction:registerForm
				/member/register:member.MemberAction:register
				/member/updateMemberForm:member.MemberAction:updateMemberForm
				/member/updateMember:member.MemberAction:updateMember
				/chat:chat.ChatAction:index
				/chat/chatRoomList:chat.ChatAction:chatRoomList
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mapper</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
</web-app>