@charset "UTF-8";

#header {
	text-align: center;
	margin: 5%;
}

#infoTitle {
	grid-area: infoTitle;
	text-align: center;
	margin: 5%;
}

#infoInput {
	grid-area: infoInput;
	margin: 5%;
}

#termTitle {
	grid-area: termTitle;
	text-align: center;
	margin: 5%;
}

#termCheck {
	grid-area: termCheck;
	margin: 5%;
}

section {
	width: 980px;
	margin: auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
	"infoTitle infoInput infoInput"
	"termTitle termCheck termCheck";
}

label {
	display:block;
	
}
input, select {
	margin-top: 10px;
	margin-bottom:10px;
	height: 30px;
	color: #767676;
	border-top: 1px solid #999;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #aaa;
    vertical-align: middle;
}
#name, #id, #pwd, #pwdchk {
	width: 440px;
}

#phonefist, #phonemid, #phonelast, #email {
	width: 136px;
	-moz-appearance: textfield;
}
.phone::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

mark {
	font-size: 80%;
	width: 440px;
	display: none;
	color: red;
	background: none;
}
#termAll {
	transform: scale(2);
}
footer {
	text-align: center;
}
.button {
	width: 215px;
	height: 50px;
}
#register {
	text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #E63740;
    border: 1px solid #E63740;	
}
#cancel {
    text-align: center;
    font-size: 16px;
    color: #222;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}