@charset "UTF-8";

#header {
	text-align: center;
	margin: 5%;
}

#infoTitle {
	grid-area: infoTitle;
	text-align: center;
	margin: 5%;
}

#infoInput {
	grid-area: infoInput;
	margin: 5%;
}

#termTitle {
	grid-area: termTitle;
	text-align: center;
	margin: 5%;
}

#termCheck {
	grid-area: termCheck;
	margin: 5%;
}

form {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
	"infoTitle infoInput infoInput"
	"termTitle termCheck termCheck";
}

label {
	display:block;
	
}
input, select {
	margin-top: 10px;
	margin-bottom:10px;
	height: 30px;
	color: #767676;
	border-top: 1px solid #999;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #aaa;
}
#name, #id, #pwd, #pwdchk {
	width: 440px;
}

#phonefist, #phonemid, #phonelast, #email {
	width: 136px;
}

mark {
	font-size: 80%;
	width: 440px;
	display: none;
	color: red;
	background: none;
}