@charset "UTF-8";

header {
	text-align: right;
}
h1 {
	text-align: center;
}
#member {
	border: none;
}
#welcome {
	display: inline-block;
}

nav {
	background: #79EDFF;
	width: 980px;
	margin: auto;
	text-align:center;
}

button {
	background: none;
	border: none;
}
a {
	text-decoration: none;
	color: black;
}
div {
	border: 1px solid black;
}

#notice {
	width: 490px;
	grid-area: notice;
}

#qna {
	width: 490px;
	grid-area: qna;
}

#general {
	width: 980px;
	grid-area: general;
}

main {
	width: 980px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
	"notice qna"
	"general general";
}